body {
    background-color: lightskyblue;
    color: white;
}

.container {
    border: 6px solid limegreen;
    margin: 20px;
    text-align: center;
}

.content {
    padding: 70px;
    font-family: sans-serif;
    font-weight: 600;
}

h1 {
    font-family: Georgia;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 60px 0px;
}

.about-us {
    font-size: 30px;
    margin-bottom: 30px;
}

.title {
    font-style: italic;
}

.tag {
    color: limegreen;
    border-bottom: 1px solid limegreen;
}

.separator {
    color: rebeccapurple;
}

.article {
    position: relative;
    /*padding: 20px;*/
}

.summary {
    /*margin: 50px 0px;*/
    padding:80px 0px;
}

.mini-title {
    font-size: 40px;
    position: absolute;
    left:0;
    top:0;

}

.summary-img img{
    float: right;
    width: 40%;
    height: 40%;
    margin: 5px;
}

.summary-text {
    /*margin-right:600px;*/
    font-weight: normal;
    font-size: 25px;
    text-align: start;
}

.social {
    margin-bottom:30px;
    font-size:30px;
}

a {
    text-decoration: none;
}
